<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <!-- About Footer Start -->
                <div class="about-footer">
                    <!-- Footer Logo Start -->
                    <div class="footer-logo">
                        <img src="/static/images/logo.svg" alt="">
                    </div>
                    <!-- Footer Logo End -->

                    <!-- About Footer Content Start -->
                    <div class="about-footer-content">
                        <p>We are a vibrant community of believers dedicated to worship, fellowship, and service.</p>
                    </div>
                    <!-- Footer Social Links Start -->
                    <div class="footer-social-links">
                        <ul>
                            <li><a href="https://www.facebook.com/citylighterschurch/"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/citylightersch"><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/city-light-church"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            <li><a href="https://www.instagram.com/citylighterschurch/?hl=en"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!-- Footer Social Links End -->

                </div>
                <!-- About Footer End -->
            </div>

            <div class="col-lg-2 col-md-3 col-6">
                <!-- About Links Start -->
                <div class="footer-links">
                    <h3>quick links</h3>
                    <ul>
                        <li><a href="/">home</a></li>
                        <li><a href="{% url 'about' %}">about us</a></li>
                        <li><a href="{% url 'services' %}">services</a></li>
                        <li><a href="{% url 'events' %}">events</a></li>
                        <li><a href="{% url 'blog' %}">news</a></li>
                    </ul>
                </div>
                <!-- About Links End -->
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <!-- About Links Start -->
                <div class="footer-links">
                    <h3></h3>
                    <ul>
                        <li><a href="{% url 'sermons' %}">sermons</a></li>
                        <li><a href="{% url 'campaign' %}">cell groups</a></li>
                        <li><a href="{% url 'ministries' %}">ministries</a></li>
                        <li><a href="{% url  'pastor' %}">pastors</a></li>
                        <li><a href="{% url 'donate' %}">donate</a></li>
                        <li><a href="{% url 'contact' %}">contact us</a></li>
                    </ul>
                </div>
                <!-- About Links End -->
            </div>

            <div class="col-lg-3 col-md-5">
                <!-- About Links Start -->
                <div class="footer-contact">
                    <h3>contact</h3>
                    <!-- Footer Contact Details Start -->
                    <div class="footer-contact-details">
                        <!-- Footer Info Box Start -->
                        <div class="footer-info-box">
                            <div class="icon-box">
                                <img src="/static/images/icon-phone.svg" alt="">
                            </div>
                            <div class="footer-info-box-content">
                                <a href="tel:+254700123456" class="text-white">+254 700 123 456</p>
                            </div>
                        </div>
                        <!-- Footer Info Box End -->

                        <!-- Footer Info Box Start -->
                        <div class="footer-info-box">
                            <div class="icon-box">
                                <img src="/static/images/icon-mail.svg" alt="">
                            </div>
                            <div class="footer-info-box-content">
                                <a href="mailto:info@citylighterschurch.org" class="text-white">info@citylighterschurch.org</a>
                            </div>
                        </div>
                        <!-- Footer Info Box End -->

                        <!-- Footer Info Box Start -->
                        <div class="footer-info-box">
                            <div class="icon-box">
                                <img src="/static/images/icon-location.svg" alt="">
                            </div>
                            <div class="footer-info-box-content">
                                <p>City Lighters Church, Nairobi CBD.</p>
                            </div>
                        </div>
                        <!-- Footer Info Box End -->
                    </div>
                    <!-- Footer Contact Details End -->
                </div>
                <!-- About Links End -->
            </div>
        </div>

        <!-- Footer Copyright Section Start -->
        <div class="footer-copyright">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <!-- Footer Copyright Start -->
                    <div class="footer-copyright-text">
                        <p>Copyright 2024 City Lighters Church. All Rights Reserved.</p>
                    </div>
                    <!-- Footer Copyright End -->
                </div>

                <div class="col-lg-6 col-md-6">
                    <!-- Footer Social Link Start -->
                    <div class="footer-privacy-policy">
                        <ul>
                            <li><a href="{% url 'terms' %}">term & condition</a></li>
                            <li><a href="{% url 'privacy' %}">privacy policy</a></li>
                        </ul>
                    </div>
                    <!-- Footer Social Link End -->
                </div>
            </div>
        </div>
        <!-- Footer Copyright Section End -->
    </div>
</footer>