{% if sermons %}
    <div class="row">
        {% for sermon in sermons %}
        <div class="col-lg-4 col-md-6">
            <!-- Sermons Item Start -->
            <div class="sermons-item wow fadeInUp">
                <!-- Sermons Image Start -->
                <div class="sermons-image">
                    <figure>
                        <a href="{{ sermon.get_absolute_url }}" class="image-anime" data-cursor-text="View">
                            <img src="{{ sermon.img.url }}" alt="{{ sermon.title }}">
                        </a>
                    </figure>
                    <!-- Sermons Meta Start -->
                    <div class="sermons-meta">
                        <h3>{{ sermon.start_time|date:'d' }}</h3>
                        <p>{{ sermon.start_time|date:'M' }}</p>
                    </div>
                    <!-- Sermons Meta End -->

                    <div class="sermons-audio-icon">
                        <a href="{{ sermon.get_absolute_url }}"><img src="/static/images/audio-play-icon.svg" alt="{{ sermon.title }}"></a>
                    </div>
                </div>
                <!-- Sermons Image End -->

                <!-- Sermons Body Start -->
                <div class="sermons-body">
                    <!-- Sermons Title Start -->
                    <div class="sermons-title">
                        <h2>{{ sermon.title }}</h2>
                    </div>
                    <!-- Sermons Title End -->

                    <!-- Sermons List Start -->
                    <div class="sermons-list">
                        <ul>
                            <li><i class="fa-solid fa-user"></i>Sermon From : <span>{{ sermon.author.get_full_name|default:'No Name Provided' }}</span></li>
                            <li><i class="fa-solid fa-tag"></i>Categories : <span>{{ sermon.category }}</span></li>
                            <li><i class="fa-regular fa-calendar-days"></i>Date & Time : <span>{{ sermon.start_time }} - {{ sermon.end_time }}</span></li>
                        </ul>
                    </div>
                    <!-- Sermons List End -->
                </div>
                <!-- Sermons Body End -->
            </div>
            <!-- Sermons Item End -->
        </div>
        {% endfor %}
        {% if not title == "Homepage" %}
            <div class="col-lg-12">
                <!-- Page Pagination Start -->
                <div class="page-pagination wow fadeInUp" data-wow-delay="0.5s">
                    <ul class="pagination">
                        {% if sermons.has_previous %}
                            <li><a href="?page={{ sermons.previous_page_number }}"><i class="fa-solid fa-arrow-left-long"></i></a></li>
                        {% endif %}
                            <li class="active"><a href="?page={{ sermons.number }}">{{ sermons.number }}</a></li>
                        {% if sermons.has_next %}
                            <li><a href="?page={{ sermons.next_page_number }}"><i class="fa-solid fa-arrow-right-long"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- Page Pagination End -->
            </div>
        {% endif %}
    </div>
{% else %}
    <p class="text-center">No Sermon Found</p>
{% endif %}