{% if services %}
    <div class="row">
        {% for service in services %}
        <div class="col-lg-3 col-md-6">
            <!-- Service Item Start -->
            <div class="service-item wow fadeInUp">
                <!-- Icon Box Start -->
                <div class="icon-box">
                    <img src="{{ service.icon.url }}" alt="">
                </div>
                <!-- Icon Box End -->

                <!-- Service Body Start -->
                <div class="service-body">
                    <p>{{ service.overview|default:'No Overview' }}</p>
                </div>
                <!-- Service Body End -->

                <!-- Service Footer Start -->
                <div class="service-footer">
                    <div class="service-content">
                        <h3>{{ service.title }}</h3>
                    </div>
                    <div class="service-btn">
                        <a href="{{ service.get_absolute_url }}" class="readmore-btn"><img src="/static/images/arrow-white.svg" alt=""></a>
                    </div>
                </div>
                <!-- Service Footer End -->
            </div>
            <!-- Service Item End -->
        </div>
        {% endfor %}
    </div>
{% else %}
    <p class="text-center">No Service Found</p>
{% endif %}