{% if services %}
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <!-- Service Item Start -->
            <div class="service-item wow fadeInUp">
                <!-- Icon Box Start -->
                <div class="icon-box">
                    <img src="/static/images/icon-service-1.svg" alt="">
                </div>
                <!-- Icon Box End -->

                <!-- Service Body Start -->
                <div class="service-body">
                    <p>Compassionate support for grief, relationships, and personal struggles. Join our monthly groups or schedule counseling.</p>
                </div>
                <!-- Service Body End -->

                <!-- Service Footer Start -->
                <div class="service-footer">
                    <div class="service-content">
                        <h3>support groups</h3>
                    </div>
                    <div class="service-btn">
                        <a href="#" class="readmore-btn"><img src="/static/images/arrow-white.svg" alt=""></a>
                    </div>
                </div>
                <!-- Service Footer End -->
            </div>
            <!-- Service Item End -->
        </div>

        <div class="col-lg-3 col-md-6">
            <!-- Service Item Start -->
            <div class="service-item wow fadeInUp" data-wow-delay="0.2s">
                <!-- Icon Box Start -->
                <div class="icon-box">
                    <img src="/static/images/icon-service-2.svg" alt="">
                </div>
                <!-- Icon Box End -->

                <!-- Service Body Start -->
                <div class="service-body">
                    <p>Join us for special events, including holiday services, picnics, and community fundraisers throughout the year.</p>
                </div>
                <!-- Service Body End -->

                <!-- Service Footer Start -->
                <div class="service-footer">
                    <div class="service-content">
                        <h3>special events</h3>
                    </div>
                    <div class="service-btn">
                        <a href="#" class="readmore-btn"><img src="/static/images/arrow-white.svg" alt=""></a>
                    </div>
                </div>
                <!-- Service Footer End -->
            </div>
            <!-- Service Item End -->
        </div>

        <div class="col-lg-3 col-md-6">
            <!-- Service Item Start -->
            <div class="service-item wow fadeInUp" data-wow-delay="0.4s">
                <!-- Icon Box Start -->
                <div class="icon-box">
                    <img src="/static/images/icon-service-3.svg" alt="">
                </div>
                <!-- Icon Box End -->

                <!-- Service Body Start -->
                <div class="service-body">
                    <p>Join our online services for live streams of Sunday worship, virtual Bible studies, and interactive prayer meetings from anywhere.</p>
                </div>
                <!-- Service Body End -->

                <!-- Service Footer Start -->
                <div class="service-footer">
                    <div class="service-content">
                        <h3>online services</h3>
                    </div>
                    <div class="service-btn">
                        <a href="#" class="readmore-btn"><img src="/static/images/arrow-white.svg" alt=""></a>
                    </div>
                </div>
                <!-- Service Footer End -->
            </div>
            <!-- Service Item End -->
        </div>
    </div>
{% else %}
    <p class="text-center">No Service Found</p>
{% endif %}