{% extends 'base.html' %}
{% block content %}
    <!-- About Us Section Start -->
	<div class="about-us page-about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- About Image Start -->
                    <div class="about-image">
                        <div class="about-img-1">
                            <figure class="image-anime reveal">
                                <img src="/static/images/about-us-img-1.jpg" alt="">
                            </figure>
                        </div>

                        <div class="about-img-2">
                            <figure class="image-anime reveal">
                                <img src="/static/images/about-us-img-2.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                    <!-- About Image End -->
                </div>

                <div class="col-lg-6">
                    <!-- About Content Start -->
                    <div class="about-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">about us</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Faith, hope, and love in <span>action every day</span></h2>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">We are a vibrant community of believers dedicated to worship, fellowship, and service. Our mission is to share God's love, grow in faith, and make a positive impact in the world through compassionate outreach and meaningful connections.</p>
                            <p class="wow fadeInUp" data-wow-delay="0.5s">Our church is a welcoming place where everyone can find support, inspiration, and a sense of belonging. Together, we strive to live out our faith and make a difference.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- About Content List Start -->
                        <div class="about-content-body">
                            <!-- About List Item Start -->
                            <div class="about-list-item wow fadeInUp">
                                <div class="icon-box">
                                    <img src="/static/images/icon-about-list-1.svg" alt="">
                                </div>
                                <div class="about-list-item-content">
                                    <h3>share god's love</h3>
                                </div>
                            </div>
                            <!-- About List Item End -->

                            <!-- About List Item Start -->
                            <div class="about-list-item wow fadeInUp" data-wow-delay="0.25s">
                                <div class="icon-box">
                                    <img src="/static/images/icon-about-list-2.svg" alt="">
                                </div>
                                <div class="about-list-item-content">
                                    <h3>foster spiritual growth</h3>
                                </div>
                            </div>
                            <!-- About List Item End -->

                            <!-- About List Item Start -->
                            <div class="about-list-item wow fadeInUp" data-wow-delay="0.5s">
                                <div class="icon-box">
                                    <img src="/static/images/icon-about-list-3.svg" alt="">
                                </div>
                                <div class="about-list-item-content">
                                    <h3>serve our community</h3>
                                </div>
                            </div>
                            <!-- About List Item End -->

                            <!-- About List Item Start -->
                            <div class="about-list-item wow fadeInUp" data-wow-delay="0.75s">
                                <div class="icon-box">
                                    <img src="/static/images/icon-about-list-4.svg" alt="">
                                </div>
                                <div class="about-list-item-content">
                                    <h3>build strong relationships</h3>
                                </div>
                            </div>
                            <!-- About List Item End -->
                        </div>
                        <!-- About Content List End -->
                    </div>
                    <!-- About Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Section End -->
    <!-- Vision Mission Section Start -->
    <div class="vision-mission">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">vision mission</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Building Faithful Community Through Love, Service, <span>Worship, and Fellowship.</span></h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Sidebar Our Vision Mission Nav start -->
					<div class="vision-mission-nav wow fadeInUp" data-wow-delay="0.25s">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#vision" type="button" role="tab" aria-selected="true">our vision</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#mission" type="button" role="tab" aria-selected="false">our mission</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#approach" type="button" role="tab" aria-selected="false">our approach</button>
                            </li>
                        </ul>
					</div>
					<!-- Sidebar Our Vision Mission Nav End -->

                    <!-- Vision Mission Box Start -->
                    <div class="vision-mission-box tab-content" id="myTabContent">
                        <!-- Our Vision Item Start -->
                        <div class="our-vision-item tab-pane fade show active" id="vision" role="tabpanel">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <!-- Vision Mission Content Start -->
                                    <div class="vision-mission-content">
                                        <!-- Section Title Start -->
                                        <div class="section-title">
                                            <h3 class="wow fadeInUp">our vision</h3>
                                            <h2 class="text-anime-style-2" data-cursor="-opaque">Our Vision to Serve, <span>Love, and Grow</span></h2>
                                        </div>
                                        <!-- Section Title End -->

                                        <!-- Vision Mission Body Start -->
                                        <div class="vision-mission-body">
                                            <h3 class="wow fadeInUp" data-wow-delay="0.25s">Our vision is to share God's love, foster spiritual growth, and serve our community with compassion and purpose.</h3>
                                            <p class="wow fadeInUp" data-wow-delay="0.5s">Our vision is to serve our community with compassion, love unconditionally, and foster spiritual growth. Through dedicated service, heartfelt worship, and supportive fellowship, we strive to create a nurturing environment where individuals can deepen their faith, connect with others, and make a positive impact. Join us as we live out our commitment to serve, love, and grow together.</p>
                                        </div>
                                        <!-- Vision Mission Body End -->
                                    </div>
                                    <!-- Vision Mission Content End -->
                                </div>
    
                                <div class="col-lg-6">
                                    <!-- Vision Mission Image Start -->
                                    <div class="vision-mission-image">
                                        <figure class="image-anime reveal">
                                            <img src="/static/images/our-vision-img.jpg" alt="">
                                        </figure>
                                    </div>
                                    <!-- Vision Mission Image End -->
                                </div>
                            </div>
                        </div>
                        <!-- Our Vision Item End -->

                        <!-- Our Vision Item Start -->
                        <div class="our-vision-item tab-pane fade" id="mission" role="tabpanel">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <!-- Vision Mission Content Start -->
                                    <div class="vision-mission-content">
                                        <!-- Section Title Start -->
                                        <div class="section-title">
                                            <h3>our mission</h3>
                                            <h2 class="text-anime-style-2" data-cursor="-opaque">Our Vision to Serve, <span>Love, and Grow</span></h2>
                                        </div>
                                        <!-- Section Title End -->

                                        <!-- Vision Mission Body Start -->
                                        <div class="vision-mission-body">
                                            <h3>Our mission is to share God's love, foster spiritual growth, and serve our community with compassion and purpose.</h3>
                                            <p>Our vision is to serve our community with compassion, love unconditionally, and foster spiritual growth. Through dedicated service, heartfelt worship, and supportive fellowship, we strive to create a nurturing environment where individuals can deepen their faith, connect with others, and make a positive impact. Join us as we live out our commitment to serve, love, and grow together.</p>
                                        </div>
                                        <!-- Vision Mission Body End -->
                                    </div>
                                    <!-- Vision Mission Content End -->
                                </div>
    
                                <div class="col-lg-6">
                                    <!-- Vision Mission Image Start -->
                                    <div class="vision-mission-image">
                                        <figure class="image-anime reveal">
                                            <img src="/static/images/our-mission-img.jpg" alt="">
                                        </figure>
                                    </div>
                                    <!-- Vision Mission Image End -->
                                </div>
                            </div>
                        </div>
                        <!-- Our Vision Item End -->

                        <!-- Our Mission Item Start -->
                        <div class="our-mission-item tab-pane fade" id="approach" role="tabpanel">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <!-- Vision Mission Content Start -->
                                    <div class="vision-mission-content">
                                        <!-- Section Title Start -->
                                        <div class="section-title">
                                            <h3>our approach</h3>
                                            <h2 class="text-anime-style-2" data-cursor="-opaque">Our Vision to Serve, <span>Love, and Grow</span></h2>
                                        </div>
                                        <!-- Section Title End -->

                                        <!-- Vision Mission Body Start -->
                                        <div class="vision-mission-body">
                                            <h3>Our approach is to share God's love, foster spiritual growth, and serve our community with compassion and purpose.</h3>
                                            <p>Our approach is to serve our community with compassion, love unconditionally, and foster spiritual growth. Through dedicated service, heartfelt worship, and supportive fellowship, we strive to create a nurturing environment where individuals can deepen their faith, connect with others, and make a positive impact. Join us as we live out our commitment to serve, love, and grow together.</p>
                                        </div>
                                        <!-- Vision Mission Body End -->
                                    </div>
                                    <!-- Vision Mission Content End -->
                                </div>
    
                                <div class="col-lg-6">
                                    <!-- Vision Mission Image Start -->
                                    <div class="vision-mission-image">
                                        <figure class="image-anime reveal">
                                            <img src="/static/images/our-approach-img.jpg" alt="">
                                        </figure>
                                    </div>
                                    <!-- Vision Mission Image End -->
                                </div>
                            </div>
                        </div>
                        <!-- Our Mission Item End -->
                    </div>
                    <!-- Vision Mission Box End -->                
                </div>
            </div>
        </div>
    </div>
    <!-- Vision Mission Section End -->
    <!-- Our Counter Section Start -->
    <div class="our-counter">
        <div class="container">
            <div class="row counter-box">
                <div class="col-lg-3 col-md-6">
                    <!-- Counter Item Start -->
                    <div class="counter-item">
                        <!-- Counter Title Start -->
                        <div class="counter-title">
                            <h2><span class="counter">1900</span>+</h2>
                        </div>
                        <!-- Counter Title End -->                     

                        <!-- Counter Content Start -->
                        <div class="counter-content">
                            <h3>Youths </h3>
                            <p>Our oldest member is Mary Thompson, who is 95 years old and has been attending since 1945.</p>
                        </div>
                        <!-- Counter Content End -->
                    </div>
                    <!-- Counter Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Counter Item Start -->
                    <div class="counter-item">
                        <!-- Counter Title Start -->
                        <div class="counter-title">
                            <h2><span class="counter">198</span>+</h2>
                        </div>
                        <!-- Counter Title End -->                     

                        <!-- Counter Content Start -->
                        <div class="counter-content">                            
                            <h3>youth retreats</h3>
                            <p>Our oldest member is Mary Thompson, who is 95 years old and has been attending since 1945.</p>
                        </div>
                        <!-- Counter Content End -->
                    </div>
                    <!-- Counter Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Counter Item Start -->
                    <div class="counter-item">
                        <!-- Counter Title Start -->
                        <div class="counter-title">
                            <h2><span class="counter">148</span>+</h2>                            
                        </div>
                        <!-- Counter Title End -->                     

                        <!-- Counter Content Start -->
                        <div class="counter-content">
                            <h3>Cell Groups</h3>
                            <p>Our oldest member is Mary Thompson, who is 95 years old and has been attending since 1945.</p>
                        </div>
                        <!-- Counter Content End -->
                    </div>
                    <!-- Counter Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- Counter Item Start -->
                    <div class="counter-item">
                        <!-- Counter Title Start -->
                        <div class="counter-title">
                            <h2><span class="counter">958</span>+</h2>
                        </div>
                        <!-- Counter Title End -->                     

                        <!-- Counter Content Start -->
                        <div class="counter-content">
                            <h3>Baptised youths</h3>
                            <p>Our oldest member is Mary Thompson, who is 95 years old and has been attending since 1945.</p>
                        </div>
                        <!-- Counter Content End -->
                    </div>
                    <!-- Counter Item End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Counter Section End -->
    <!-- What We do Section Start -->
    <div class="what-we-do">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">what we do</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Living Our <span>Faith Together</span></h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- What We Item Start -->
                    <div class="what-we-item wow fadeInUp">
                        <div class="icon-box">
                            <img src="/static/images/icon-what-we-1.svg" alt="">
                        </div>
                        <div class="what-we-content">
                            <h3>worship services</h3>
                            <p>Experience spiritual growth and meaningful connection through heartfelt worship and fellowship. Everyone is welcome to join us</p>
                        </div>
                    </div>
                    <!-- What We Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- What We Item Start -->
                    <div class="what-we-item wow fadeInUp" data-wow-delay="0.25s">
                        <div class="icon-box">
                            <img src="/static/images/icon-what-we-2.svg" alt="">
                        </div>
                        <div class="what-we-content">
                            <h3>community outreach</h3>
                            <p>Experience spiritual growth and meaningful connection through heartfelt worship and fellowship. Everyone is welcome to join us</p>
                        </div>
                    </div>
                    <!-- What We Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- What We Item Start -->
                    <div class="what-we-item wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon-box">
                            <img src="/static/images/icon-what-we-3.svg" alt="">
                        </div>
                        <div class="what-we-content">
                            <h3>educational programs</h3>
                            <p>Experience spiritual growth and meaningful connection through heartfelt worship and fellowship. Everyone is welcome to join us</p>
                        </div>
                    </div>
                    <!-- What We Item End -->
                </div>
            </div>
        </div>
    </div>
    <!-- What We do Section End -->
    <!-- Our Team Start -->
    <div class="our-team">
        <div class="container">
            <div class="row align-items-center section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">our team</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Meet Our <span>Pastors</span></h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>
            {% include 'partials/pastor.html' %}
        </div>
    </div>
    <!-- Our Team End -->
    <!-- Pastors Message Section Start -->
    <div class="pastors-message">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- Pastors Image Start -->
                    <div class="pastors-image">
                        <figure class="image-anime reveal">
                            <img src="/static/images/pastors-image.jpg" alt="">
                        </figure>
                    </div>
                    <!-- Pastors Image End -->
                </div>

                <div class="col-lg-6">
                    <!-- Pastors Comtent Start -->
                    <div class="pastors-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">pastors message</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Your generosity makes a <span>profound impact</span></h2>
                        </div>
                        <!-- Section Title End -->

                        <!-- Pastors Comtent Body Start -->
                        <div class="pastors-content-body">
                            <h3 class="wow fadeInUp" data-wow-delay="0.25s">Our mission is to share God's love, foster spiritual growth, and serve our community with compassion and purpose.</h3>
                            <p class="wow fadeInUp" data-wow-delay="0.5s">George Macharia is the founder and lead pastor of City Lighters Church. He has a deeply-rooted belief in the local church and a relentless passion to inspire a generation of believers to fulfil their God-given destiny. Through his leadership City Lighters has grown from a group of 7 people in a small room to a church of hundreds of people.
                            George Macharia is a visionary leader with a passion for the cause of Christ and the building of His Church. Known for his dynamic preaching gift, George delivers messages that resonate in hearts and challenge mindsets. He lives to encourage people to boldly step into the plan that God has for them..</p>
                        </div>
                        <!-- Pastors Comtent Body End -->

                        <!-- Pastors Signature Start -->
                        <div class="pastors-signature">
                            <!-- Pastors Signature Image Start -->
                            <div class="pastors-signature-img">
                                <img src="/static/images/pastors-signature.svg" alt="">
                            </div>
                            <!-- Pastors Signature Image End -->
                            <!-- Pastors Signature Comtent Start -->
                            <div class="pastors-signature-content">
                                <p>senior pastor</p>
                            </div>
                            <!-- Pastors Signature Comtent End -->
                        </div>
                        <!-- Pastors Signature End -->
                    </div>
                    <!-- Pastors Comtent End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Pastors Message Section End -->
    <!-- Core Value Section Start -->
    <div class="core-value">
        <div class="container">
            <div class="row align-items-center section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">our core value</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Foundations of Our Faith and <span>Community Life</span></h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-6">
                    {% include 'partials/core-values.html' %}
                </div>
                <div class="col-lg-6">
                    <!-- Core Value Slider Start -->
                    <div class="core-value-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <!-- Core Value Image Slide Start -->
                                <div class="swiper-slide">
                                    <div class="core-value-slider-img">
                                        <figure class="image-anime">
                                            <img src="/static/images/core-value-img.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <!-- Core Value Image Slide End -->

                                <!-- Core Value Image Slide Start -->
                                <div class="swiper-slide">
                                    <div class="core-value-slider-img">
                                        <figure class="image-anime">
                                            <img src="/static/images/core-value-img.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <!-- Core Value Image Slide End -->

                                <!-- Core Value Image Slide Start -->
                                <div class="swiper-slide">
                                    <div class="core-value-slider-img">
                                        <figure class="image-anime">
                                            <img src="/static/images/core-value-img.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <!-- Core Value Image Slide End -->
                            </div>
                            <div class="core-value-btn">
                                <div class="core-value-button-prev"></div>
                                <div class="core-value-button-next"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Core Value Slider End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Core Value Section End -->
{% endblock %}