{% extends 'base.html' %}
{% block content %}
    <!-- Page Campaign Start -->
    <div class="page-campaign">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Campaign Item Start -->
                    <div class="campaign-item wow fadeInUp">
                        <!-- Campaign Image Start -->
                        <div class="campaign-image">
                            <figure>
                                <a href="#" class="image-anime" data-cursor-text="View">
                                    <img src="/static/images/campaign-img-1.jpg" alt="">
                                </a>
                            </figure>
                        </div>
                        <!-- Campaign Image End -->

                        <!-- Campaign Body Start -->
                        <div class="campaign-body">
                            <!-- Campaign Title Start -->
                            <div class="campaign-content">
                                <h2>Kroad cell group</h2>
                                <p>Find out which items we need for our chur5h's programs and services.</p>
                            </div>
                            <!-- Campaign Title End -->

                            <!-- Campaign List Start -->
                            <div class="campaign-btn">
                                <a href="#" class="read-more-btn">Join team</a>
                            </div>
                            <!-- Campaign List End -->

                            <!-- Skills Progress Bar Start -->
                            Join our whatsapp group for communications
                            <!-- Skills Progress Bar End -->
                        </div>
                        <!-- Campaign Body End -->                        
                    </div>
                    <!-- Campaign Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Campaign Item Start -->
                    <div class="campaign-item wow fadeInUp" data-wow-delay="0.25s">
                        <!-- Campaign Image Start -->
                        <div class="campaign-image">
                            <figure>
                                <a href="#" class="image-anime" data-cursor-text="View">
                                    <img src="/static/images/campaign-img-2.jpg" alt="">
                                </a>
                            </figure>
                        </div>
                        <!-- Campaign Image End -->

                        <!-- Campaign Body Start -->
                        <div class="campaign-body">
                            <!-- Campaign Title Start -->
                            <div class="campaign-content">
                                <h2>Nairobi Cell group</h2>
                                <p>Find out how you can contribute to our ongoing fundraising efforts.</p>
                            </div>
                            <!-- Campaign Title End -->

                            <!-- Campaign List Start -->
                            <div class="campaign-btn">
                                <a href="#" class="read-more-btn">Join team </a>
                            </div>
                            <!-- Campaign List End -->

                            <!-- Skills Progress Bar Start -->
                            Join our whatsapp group for communications
                            <!-- Skills Progress Bar End -->
                        </div>
                        <!-- Campaign Body End -->                        
                    </div>
                    <!-- Campaign Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Campaign Item Start -->
                    <div class="campaign-item wow fadeInUp" data-wow-delay="0.5s">
                        <!-- Campaign Image Start -->
                        <div class="campaign-image">
                            <figure>
                                <a href="#" class="image-anime" data-cursor-text="View">
                                    <img src="/static/images/campaign-img-3.jpg" alt="">
                                </a>
                            </figure>
                        </div>
                        <!-- Campaign Image End -->

                        <!-- Campaign Body Start -->
                        <div class="campaign-body">
                            <!-- Campaign Title Start -->
                            <div class="campaign-content">
                                <h2>Kahawa Cell Group</h2>
                                <p>Learn about making endowment gifts to secure the future of our church.</p>
                            </div>
                            <!-- Campaign Title End -->

                            <!-- Campaign List Start -->
                            <div class="campaign-btn">
                                <a href="#" class="read-more-btn">Join team</a>
                            </div>
                            <!-- Campaign List End -->

                            <!-- Skills Progress Bar Start -->
                            Join our whatsapp group for communications
                            <!-- Skills Progress Bar End -->
                        </div>
                        <!-- Campaign Body End -->                        
                    </div>
                    <!-- Campaign Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Campaign Item Start -->
                    <div class="campaign-item wow fadeInUp" data-wow-delay="0.75s">
                        <!-- Campaign Image Start -->
                        <div class="campaign-image">
                            <figure>
                                <a href="#" class="image-anime" data-cursor-text="View">
                                    <img src="/static/images/campaign-img-4.jpg" alt="">
                                </a>
                            </figure>
                        </div>
                        <!-- Campaign Image End -->

                        <!-- Campaign Body Start -->
                        <div class="campaign-body">
                            <!-- Campaign Title Start -->
                            <div class="campaign-content">
                                <h2>Roysambu Cell group</h2>
                                <p>Understand the significance of regular tithes and offerings in sustaining.</p>
                            </div>
                            <!-- Campaign Title End -->

                            <!-- Campaign List Start -->
                            <div class="campaign-btn">
                                <a href="#" class="read-more-btn">Join team</a>
                            </div>
                            <!-- Campaign List End -->

                            <!-- Skills Progress Bar Start -->
                            <div class="skills-progress-bar">
                                <!-- Skill Item Start -->
                                Join our whatsapp group for communications
                                <!-- Skill Item End -->
                            </div>
                            <!-- Skills Progress Bar End -->
                        </div>
                        <!-- Campaign Body End -->                        
                    </div>
                    <!-- Campaign Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Campaign Item Start -->
                    <div class="campaign-item wow fadeInUp" data-wow-delay="1s">
                        <!-- Campaign Image Start -->
                        <div class="campaign-image">
                            <figure>
                                <a href="#" class="image-anime" data-cursor-text="View">
                                    <img src="/static/images/campaign-img-5.jpg" alt="">
                                </a>
                            </figure>
                        </div>
                        <!-- Campaign Image End -->

                        <!-- Campaign Body Start -->
                        <div class="campaign-body">
                            <!-- Campaign Title Start -->
                            <div class="campaign-content">
                                <h2>Kasarani Cell Group</h2>
                                <p>Explore planned giving options to leave a lasting legacy for our church.</p>
                            </div>
                            <!-- Campaign Title End -->

                            <!-- Campaign List Start -->
                            <div class="campaign-btn">
                                <a href="#" class="read-more-btn">Join team</a>
                            </div>
                            <!-- Campaign List End -->

                            <!-- Skills Progress Bar Start -->
                            <div class="skills-progress-bar">
                                <!-- Skill Item Start -->
                                Join our whatsapp group for communications
                                <!-- Skill Item End -->
                            </div>
                            <!-- Skills Progress Bar End -->
                        </div>
                        <!-- Campaign Body End -->                        
                    </div>
                    <!-- Campaign Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Campaign Item Start -->
                    <div class="campaign-item wow fadeInUp" data-wow-delay="1.25s">
                        <!-- Campaign Image Start -->
                        <div class="campaign-image">
                            <figure>
                                <a href="#" class="image-anime" data-cursor-text="View">
                                    <img src="/static/images/campaign-img-6.jpg" alt="">
                                </a>
                            </figure>
                        </div>
                        <!-- Campaign Image End -->

                        <!-- Campaign Body Start -->
                        <div class="campaign-body">
                            <!-- Campaign Title Start -->
                            <div class="campaign-content">
                                <h2>Kilimani Cell group</h2>
                                <p>Join us in community fundraisers to support various church initiatives.</p>
                            </div>
                            <!-- Campaign Title End -->

                            <!-- Campaign List Start -->
                            <div class="campaign-btn">
                                <a href="#" class="read-more-btn">Join team</a>
                            </div>
                            <!-- Campaign List End -->

                            <!-- Skills Progress Bar Start -->
                            <div class="skills-progress-bar">
                                <!-- Skill Item Start -->
                                Join our whatsapp group for communications
                                <!-- Skill Item End -->
                            </div>
                            <!-- Skills Progress Bar End -->
                        </div>
                        <!-- Campaign Body End -->                        
                    </div>
                    <!-- Campaign Item End -->
                </div>

                <div class="col-lg-12">
                    <!-- Page Pagination Start -->
                    <div class="page-pagination wow fadeInUp" data-wow-delay="0.5s">
                        <ul class="pagination">
                            <li><a href="#"><i class="fa-solid fa-arrow-left-long"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i></a></li>
                        </ul>
                    </div>
                    <!-- Page Pagination End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Campaign End -->
{% endblock %}