{% extends 'base.html' %}
{% block content %}
<div class="page-campaign-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="campaign-single-content">
                    <div class="campaign-donate-box">
                        <div class="campaign-donate-content">
                            <div class="campaign-donate-item campaign-raised">
                                <h3>Ways</h3>
                            </div>
                            <div class="campaign-donate-item campaign-donations">
                                <h3>to</h3>
                            </div>
                            <div class="campaign-donate-item campaign-goal">
                                <h3>Donate</h3>
                            </div>
                        </div>
                    </div>
                    <div class="campaign-entry">
                        <p>God is working in mighty ways among us. Thank you for being an essential part of all that He is doing in and through our community during this season.</p>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <figure class="card">
                                    <div class="p-3">
                                        <img src="/static/images/wave-150x150.png" class="card-img" height="200" alt="Wave">
                                    </div>
                                    <figcaption class="card-body text-center">
                                        <b>+254 723 365 072</b><br/>
                                        George Macharia
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <figure class="card">
                                    <div class="p-3">
                                        <img src="/static/images/mpesa-logo.png" class="card-img" height="200" alt="M-Pesa Paybil">
                                    </div>
                                    <figcaption class="card-body text-center">
                                        Paybill No: <b>488700</b><br/>
                                        Account No: <b>ALIC</b>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <figure class="card">
                                    <div class="p-3">
                                        <img src="/static/images/bank-150x150.png" class="img-card" height="200" alt="Bank Transfer">
                                    </div>
                                    <figcaption class="card-body text-center">
                                        Account Name: <b>ALIC</b><br/>
                                        Account No: <b>A1005363639</b>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="campaign-single-sidebar">
                    <div class="campaign-sidebar-title">
                        <h3 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <span>How it </span>will be used?</h3>
                        <p class="wow fadeInUp" data-wow-delay="0.25s"
                            style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}