{% extends 'base.html' %}
{% block content %}
    <!-- Photo Gallery Section Start -->
	<div class="page-gallery">
		<div class="container">
			<!-- gallery section start -->
			<div class="row gallery-items page-gallery-box">
                <div class="col-lg-4 col-6">
                    <!-- image gallery start -->
                    <div class="photo-gallery wow fadeInUp" data-cursor-text="View">
                        <a href="/static/images/gallery-1.jpg">
                            <figure class="image-anime">
                                <img src="/static/images/gallery-1.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- image gallery end -->
                </div>

                <div class="col-lg-4 col-6">
                    <!-- image gallery start -->
                    <div class="photo-gallery wow fadeInUp" data-wow-delay="0.2s" data-cursor-text="View">
                        <a href="/static/images/gallery-2.jpg">
                            <figure class="image-anime">
                                <img src="/static/images/gallery-2.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- image gallery end -->
                </div>

                <div class="col-lg-4 col-6">
                    <!-- image gallery start -->
                    <div class="photo-gallery wow fadeInUp" data-wow-delay="0.4s" data-cursor-text="View">
                        <a href="static/images/gallery-3.jpg">
                            <figure class="image-anime">
                                <img src="/static/images/gallery-3.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- image gallery end -->
                </div>

                <div class="col-lg-4 col-6">
                    <!-- image gallery start -->
                    <div class="photo-gallery wow fadeInUp" data-wow-delay="0.6s" data-cursor-text="View">
                        <a href="/static/images/gallery-4.jpg">
                            <figure class="image-anime">
                                <img src="/static/images/gallery-4.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- image gallery end -->
                </div>

                <div class="col-lg-4 col-6">
                    <!-- image gallery start -->
                    <div class="photo-gallery wow fadeInUp" data-wow-delay="0.8s" data-cursor-text="View">
                        <a href="/static/images/gallery-5.jpg">
                            <figure class="image-anime">
                                <img src="/static/images/gallery-5.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- image gallery end -->
                </div>

                <div class="col-lg-4 col-6">
                    <!-- image gallery start -->
                    <div class="photo-gallery wow fadeInUp" data-wow-delay="1s" data-cursor-text="View">
                        <a href="/static/images/gallery-6.jpg">
                            <figure class="image-anime">
                                <img src="/static/images/gallery-6.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- image gallery end -->
                </div>
			</div>
			<!-- gallery section end -->
		</div>
	</div>
	<!-- Photo Gallery Section End -->
{% endblock %}