{% extends 'base.html' %}
{% block content %}
    <!-- Photo Gallery Section Start -->
	<div class="page-gallery">
		<div class="container">
            {% if images %}
			<!-- gallery section start -->
			<div class="row gallery-items page-gallery-box">
                {% for image in images %}
                <div class="col-lg-4 col-6">
                    <!-- image gallery start -->
                    <div class="photo-gallery wow fadeInUp" data-cursor-text="View">
                        <a href="{{ image.img.url }}">
                            <figure class="image-anime">
                                <img src="{{ image.img.url }}" alt="{{ image.img.name }}">
                            </figure>
                        </a>
                    </div>
                    <!-- image gallery end -->
                </div>
                {% endfor %}
			</div>
			<!-- gallery section end -->
             {% else %}
                <p class="text-center">No Image</p>
             {% endif %}
		</div>
	</div>
	<!-- Photo Gallery Section End -->
{% endblock %}