{% extends 'base.html' %}
{% block content %}
    <!-- Page Ministry Single Start -->
    <div class="page-ministry-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Ministry Single Content Start -->
                    <div class="ministry-single-content">
                        {% if ministry.images.all %}
                        <!-- Ministry Single Slider Start -->
                        <div class="ministry-single-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    {% for image in ministry.images.all %}
                                    <!-- Ministry Image Slide Start -->
                                    <div class="swiper-slide">
                                        <div class="ministry-slider-image">
                                            <figure class="image-anime">
                                                <img src="{{ image.img.url }}" alt="{{ ministry.title }}">
                                            </figure>
                                        </div>
                                    </div>
                                    <!-- Ministry Image Slide End -->
                                     {% endfor %}
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                        <!-- Ministry Single Slider End -->
                        {% endif %}
                        <!-- Ministry Entry Content Start -->
                        <div class="ministry-entry">
                            <h2 class="text-anime-style-2" data-cursor="-opaque">{{ ministry.title }}</h2>
                            {{ ministry.description|safe|default:'No Description Found' }}
                        </div>
                        <!-- Ministry Entry Content End -->

                        <!-- Ministry Single Faqs Start -->
                        <div class="ministry-single-faqs">
                            <!-- Section Title Start -->
                            <div class="section-title">
                                <h2 class="text-anime-style-2" data-cursor="-opaque">Our Core Value</h2>
                            </div>
                            <!-- Section Title End -->
                            {% include 'partials/core-values.html' %}
                        </div>
                        <!-- Ministry Single Faqs End -->
                    </div>
                    <!-- Ministry Single Content End -->
                </div>

                <!-- <div class="col-lg-4">
                    <div class="ministry-single-sidebar wow fadeInUp" data-wow-delay="0.25s">
                        <div class="ministry-single-box">
                            <div class="ministry-single-info">
                                <div class="icon-box">
                                    <i class="fa-regular fa-clock"></i>
                                </div>
                                <div class="ministry-single-info-content">
                                    <h3>meeting times</h3>
                                </div>
                            </div>
                            <div class="ministry-single-info-list">
                                <ul>
                                    <li>Tuesdays, 12:30pm - 3:00pm</li>
                                    <li>Thursdays, 9:00am - 11:00am</li>
                                </ul>
                            </div>
                        </div>
                        <div class="ministry-single-box">
                            <div class="ministry-single-info">
                                <div class="icon-box">
                                    <i class="fa-solid fa-calendar-days"></i>
                                </div>
                                <div class="ministry-single-info-content">
                                    <h3>schedule</h3>
                                </div>
                            </div>
                            <div class="ministry-single-info-list">
                                <ul>
                                    <li>10:00 AM - Welcome kids and playtime</li>
                                    <li>10:20 AM - Worship</li>
                                    <li>10:35 AM - Large group lesson</li>
                                    <li>11:00 AM - Age group split off</li>
                                    <li>11:45 AM - Closing time</li>
                                </ul>
                            </div>
                        </div>
                        <div class="ministry-single-box">
                            <div class="ministry-single-info">
                                <div class="icon-box">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="ministry-single-info-content">
                                    <h3>location</h3>
                                </div>
                            </div>
                            <div class="ministry-single-info-list">
                                <ul>
                                    <li>Lorem ipsum is a placeholder text commonly used to demonstrate</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Page Service Single End -->
{% endblock %}