{% extends 'base.html' %}
{% block content %}
    <!-- Page Sermons Single Start -->
    <div class="page-sermons-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Sermons Single Content Start -->
                    <div class="sermons-single-content">
                        <!-- Sermons Featured Image Start -->
                        <div class="sermons-featured-image">
                            <figure class="image-anime reveal">
                                <img src="{{ sermon.img.url }}" alt="{{ sermon.title }}">
                            </figure>
                        </div>
                        <!-- Sermons Featured Image End -->
                        <!-- Sermons Entry Content Start -->
                        <div class="sermons-entry">
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Sermon Notes:-</h2>
                            {{ sermon.description|safe|default:'No Description' }}
                        </div>
                        <!-- Sermons Entry Content End -->
                    </div>
                    <!-- Sermons Single Content End -->
                </div>

                <div class="col-lg-4">
                    <!-- Sermons Sidebar Start -->
                    <div class="sermons-sidebar wow fadeInUp" data-wow-delay="0.25s">
                        <!-- About Sermons Sidebar Start -->
                        <div class="about-sermons-sidebar">
                            <!-- About Sermons Title Start -->
                            <div class="about-sermons-title">
                                <h3>about the sermons</h3>
                            </div>
                            <!-- About Sermons Title End -->

                            <!-- About Sermons Item Start -->
                            <div class="about-sermons-item">
                                <div class="icon-box">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                                <div class="about-sermons-content">
                                    <h3>sermon from </h3>
                                    <p>{{ sermon.name|title|default:'No Name' }}</p>
                                </div>
                            </div>
                            <!-- About Sermons Item End -->

                            <!-- About Sermons Item Start -->
                            <div class="about-sermons-item">
                                <div class="icon-box">
                                    <i class="fa-solid fa-tag"></i>
                                </div>
                                <div class="about-sermons-content">
                                    <h3>categories</h3>
                                    <p>{{ sermon.category.title }}</p>
                                </div>
                            </div>
                            <!-- About Sermons Item End -->

                            <!-- About Sermons Item Start -->
                            <div class="about-sermons-item">
                                <div class="icon-box">
                                    <i class="fa-solid fa-calendar-days"></i>
                                </div>
                                <div class="about-sermons-content">
                                    <h3>date & time</h3>
                                    <p>{{ sermon.start_time }} - {{ sermon.end_time }}</p>
                                </div>
                            </div>
                            <!-- About Sermons Item End -->
                        </div>
                        <!-- About Sermons Sidebar End -->
                    </div>
                    <!-- Sermons Sidebar End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Sermons Single End -->
{% endblock %}