{% extends 'base.html' %}
{% block content %}
    <!-- Page Service Single Start -->
    <div class="page-service-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Service Single Content Start -->
                    <div class="service-single-content">
                        <!-- Service Single Slider Start -->
                        <div class="service-single-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <!-- Service Image Slide Start -->
                                    <div class="swiper-slide">
                                        <div class="service-slider-image">
                                            <figure>
                                                <img src="/static/images/service-single-img.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                    <!-- Service Image Slide End -->

                                    <!-- Service Image Slide Start -->
                                    <div class="swiper-slide">
                                        <div class="service-slider-image">
                                            <figure>
                                                <img src="/static/images/service-single-img.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                    <!-- Service Image Slide End -->

                                    <!-- Service Image Slide Start -->
                                    <div class="swiper-slide">
                                        <div class="service-slider-image">
                                            <figure>
                                                <img src="/static/images/service-single-img.jpg" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                    <!-- Service Image Slide End -->
                                </div>
                                <div class="service-single-btn">
                                    <div class="service-single-button-prev"></div>
                                    <div class="service-single-button-next"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Service Single Slider End -->

                        <!-- Service Entry Content Start -->
                        <div class="service-entry">
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Christmas Eve Candlelight Service</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">Join us for the Christmas Eve Candlelight Service to celebrate the birth of Jesus Christ. Enjoy an evening of carols, scripture readings, and worship in a City Lighters Church, candlelit setting. Bring family and friends to share in this beautiful tradition and experience the true spirit of Christmas together.</p>
                            <p class="wow fadeInUp" data-wow-delay="0.4s">Celebrate Jesus' birth at our Christmas Eve Candlelight Service with carols, scripture readings, and worship in a City Lighters Church, candlelit setting. Bring family and friends.</p>
                            <ul class="wow fadeInUp" data-wow-delay="0.6s">
                                <li>Uplifting carols and scripture readings</li>
                                <li>Atmosphere City Lighters Church, candlelit setting</li>
                                <li>Fellowship Gather with family and friends</li>
                                <li>Reflect Embrace the true spirit of Christmas</li>
                            </ul>
                        </div>
                        <!-- Service Entry Content End -->

                        <!-- Service Single Faqs Start -->
                        <div class="service-single-faqs">
                            <!-- Section Title Start -->
                            <div class="section-title">
                                <h2 class="text-anime-style-2" data-cursor="-opaque">Our Core Value</h2>
                            </div>
                            <!-- Section Title End -->
                            {% include 'partials/core-values.html' %}
                        </div>
                        <!-- Service Single Faqs End -->
                    </div>
                    <!-- Service Single Content End -->
                </div>

                <div class="col-lg-4">
                    <!-- Service Sidebar Start -->
                    <div class="service-sidebar">
                        <!-- Service Categories List Start -->
                        <div class="service-catagery-list wow fadeInUp">
                            <h3>our services</h3>
                            <ul>
                                <li><a href="#">support groups</a></li>
                                <li><a href="#">online services</a></li>
                                <li><a href="#">pastoral care</a></li>
                                <li><a href="#">sunday worship</a></li>
                                <li><a href="#">midweek prayer</a></li>
                            </ul>
                        </div>
                        <!-- Service Categories List End -->

                        <!-- Sidebar Cta Start -->
                        <div class="sidebar-cta-box wow fadeInUp" data-wow-delay="0.25s">
                            <!-- Cta Contact Item Start -->
                            <div class="cta-contact-item">
                                <div class="icon-box">
                                    <img src="/static/images/icon-sidebar-cta.svg" alt="">
                                </div>
                                <div class="cta-contact-content">
                                    <h2>We're Here Help</h2>
                                    <p>Need assistance? We're here to help with support, guidance, and resources. Reach out to us anytime.</p>
                                </div>
                                <div class="cta-contact-btn">
                                    <a href="#" class="btn-default btn-highlighted">contact now</a>
                                </div>
                            </div>
                            <!-- Cta Contact Item End -->
                        </div>
                        <!-- Sidebar Cta End -->
                    </div>
                    <!-- Service Sidebar End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Service Single End -->
{% endblock %}