{% extends 'base.html' %}
{% block content %}
    <!-- Page Service Single Start -->
    <div class="page-service-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Service Single Content Start -->
                    <div class="service-single-content">
                        {% if service.images.all %}
                        <!-- Service Single Slider Start -->
                        <div class="service-single-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    {% for image in service.images.all %}
                                    <!-- Service Image Slide Start -->
                                    <div class="swiper-slide">
                                        <div class="service-slider-image">
                                            <figure>
                                                <img src="{{ image.img.url }}" alt="{{ service.title }}">
                                            </figure>
                                        </div>
                                    </div>
                                    <!-- Service Image Slide End -->
                                    {% endfor %}
                                </div>
                                <div class="service-single-btn">
                                    <div class="service-single-button-prev"></div>
                                    <div class="service-single-button-next"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Service Single Slider End -->
                        {% endif %}
                        <!-- Service Entry Content Start -->
                        <div class="service-entry">
                            <h2 class="text-anime-style-2" data-cursor="-opaque">{{ service.title }}</h2>
                            {{ service.description|safe|default:'No Description' }}
                        </div>
                        <!-- Service Entry Content End -->

                        <!-- Service Single Faqs Start -->
                        <div class="service-single-faqs">
                            <!-- Section Title Start -->
                            <div class="section-title">
                                <h2 class="text-anime-style-2" data-cursor="-opaque">Our Core Value</h2>
                            </div>
                            <!-- Section Title End -->
                            {% include 'partials/core-values.html' %}
                        </div>
                        <!-- Service Single Faqs End -->
                    </div>
                    <!-- Service Single Content End -->
                </div>

                <div class="col-lg-4">
                    <!-- Service Sidebar Start -->
                    <div class="service-sidebar">
                        <!-- Service Categories List Start -->
                        <div class="service-catagery-list wow fadeInUp">
                            <h3>our services</h3>
                            <ul>
                                {% if services%}
                                    {% for service in services %}
                                    <li><a href="{{ service.get_absolute_url }}">{{ service.title|truncatechars:'40' }}</a></li>
                                    {% endfor %}
                                {% else %}
                                    <p>No Service Found</p>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- Service Categories List End -->

                        <!-- Sidebar Cta Start -->
                        <div class="sidebar-cta-box wow fadeInUp" data-wow-delay="0.25s">
                            <!-- Cta Contact Item Start -->
                            <div class="cta-contact-item">
                                <div class="icon-box">
                                    <img src="/static/images/icon-sidebar-cta.svg" alt="">
                                </div>
                                <div class="cta-contact-content">
                                    <h2>We're Here Help</h2>
                                    <p>Need assistance? We're here to help with support, guidance, and resources. Reach out to us anytime.</p>
                                </div>
                                <div class="cta-contact-btn">
                                    <a href="{% url 'contact' %}" class="btn-default btn-highlighted">contact now</a>
                                </div>
                            </div>
                            <!-- Cta Contact Item End -->
                        </div>
                        <!-- Sidebar Cta End -->
                    </div>
                    <!-- Service Sidebar End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Service Single End -->
{% endblock %}